@import '../../fonts/Font.scss';

header{
    nav{
        width: 100%;
        height: 81px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: relative;

        .navLeft{
            p{
                font-size: 32px;
            }

            .logo{
                text-decoration: none;
                color: white;
            }
                        
        }

        .navRight{
            font-size: 20px;
            font-weight: 500;
            .nav{
                margin-right: 20px;
                text-decoration: none;
                color: white;
            }
        }
        

    }
}

@media (min-width: 2560px){
    header{
        nav{
            height: 162px;

            .navLeft p{
                font-size: 64px;
            }
            .navRight{
                font-size: 40px;
            }
        }
    }
}