@font-face {
    font-family: "nunito-Bold";
    src: url('./nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: "nunito-Linght";
    src: url('./nunito/Nunito-Light.ttf');
}

@font-face {
    font-family: "nunito-Regular";
    src: url('./nunito/Nunito-Regular.ttf');
}